@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-aa: #3f3cbb;
  --color-blue: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-black: #000000;
  --color-c1: #5CD6FF;
  --color-c2: #00BFFF;
  --color-c3:#0067B1;

}

